#sma_slider {
    height: 200px;
    position: relative;
	overflow: hidden;
}
#sma_slider ul { list-style-type: none; }
#sma_sliderContent {
    width: 240px;
    position: relative;
	top: 0;
	margin: 1px 0px 0px 0px;
	padding: 0px;
}
.sma_sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sma_sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    width: 240px;
    background-color: #222;
    filter: alpha(opacity=100);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
	padding: 10px;
	line-height: 18px;
}
.sma_sliderImage img { border: 0px; }
.sma_sliderImage span strong { font-size: 14px; }